html,
div#root {
  height: 100%;
}
.active-select {
  background: #716965;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  width: 60%;
}
.link {
  margin: auto;
  padding: 5px;
}
.bg-light {
  background-color: #258264 !important;
}
.wrapper {
  height: 100%;
  overflow: hidden;
}
.leftPanel {
  float: left;
  height: 100%;
  width: 20%;
  background: #4c4c44;
}
.footer {
  clear: both;
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: #258264;
}
.search-list a {
  display: block;
  padding: 5px 5px 5px 5%;
  color: whitesmoke;
  font-style: italic;
  text-transform: capitalize;
}
.search-list {
  display: flex;
  flex-flow: column;
  height: 85%;
  overflow: scroll;
  cursor: pointer;
}
.searchBox.form-group {
  display: flex;
  justify-content: space-evenly;
}
.searchBox .form-control {
  width: 85%;
}
.svg-inline--fa {
  font-size: 16px;
  color: snow;
  margin-top: 8px;
}
.search-list a:hover {
  background: dimgrey;
}
.rounded-circle {
  border-radius: 50% !important;
  height: 40px;
}
.header-bar {
  position: fixed;
  width: 100%;
  z-index: 1;
}
.Main {
  padding-top: 66px;
  height: 100%;
}
.navbar-light .navbar-nav .nav-link {
  color: rgb(3, 35, 97);
  background: burlywood;
  box-shadow: 4px 11px 13px -1px;
}
.mr-auto.navbar-nav h2 {
  position: relative;
  -webkit-animation: move 5s linear forwards; /* Safari 4.0 - 8.0 */
  animation: move 5s linear forwards;
}
@-webkit-keyframes move {
  from {
    -webkit-transform: rotate(0deg);
    left: 0px;
  }
  to {
    -webkit-transform: rotate(360deg);
    left: 80%;
  }
}

@keyframes move {
  from {
    -webkit-transform: rotate(0deg);
    left: 0px;
  }
  to {
    -webkit-transform: rotate(360deg);
    left: 80%;
  }
}
.more-option {
  position: absolute;
  top: 75%;
  right: 3%;
  display: inline-block;
  z-index: 9999;
}
.fa-plus-circle {
  color: #1f8263;
  height: 41px !important;
  width: 54px !important;
}

.crossRotate {
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  outline: 0;
}

.crossRotate:hover {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.more-option:hover .option-list {
  visibility: visible;
  right: 100%;
  transition: 1s;
  bottom: 0px;
}
.option-list {
  visibility: hidden;
  position: absolute;
  bottom: -100px;
}
.fa-print {
  color: black;
}
.fa-trash {
  color: red;
}
.fa-edit {
  color: black;
}
